﻿@model EHSurveyAdmin.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div style="background-color: #A52A2A; color: White; height: 10px;">  
</div>  
<div style="background-color: #F5F5DC; color: black;" class="middleheight">  
    <div style=" padding:20px;">  
        <h3> Application Error:</h3>  
        <h4> Sorry, an error occurred while processing your request. </h4>  
        @if (Model.Exception!=null)
        {
            <p><strong>Exception:</strong> <code>@Model.Exception</code></p>
            <p>Contact the Help Desk for Assistance</p>
            <p>904-202-7565</p>
        }
       
        <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>  
        <br />  
        <br />  
    </div>  
</div>  
<div style="background-color: #A52A2A; color: White; height: 20px;">  
</div>  
