﻿@model EHSurveyAdmin.ViewModels.Search
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Search Employee ID</h1>
    <form asp-controller="Survey" asp-action="Index">
        <div class="form-group">
            <input class="form-control form-control-lg" name="EmployeeId" id="EmployeeId" type="text" placeholder="Employee ID">
        </div>
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </form>
   
    
</div>
