﻿<div style="background-color: #A52A2A; color: White; height: 10px;">  
</div>  
<div style="background-color: #F5F5DC; color: black;" class="middleheight">  
    <div style=" padding:20px;">  
        <h3> You are Unauthorized</h3>  
        <h4> See your manager for access. </h4>  
        <br />  
    </div>  
</div>  
<div style="background-color: #A52A2A; color: White; height: 20px;">  
</div>  