﻿@using Newtonsoft.Json
@using EHSurveyAdmin.ViewModels
@model EHSurveyAdmin.ViewModels.SurveyModel
<script type="text/javascript" src="~/js/moment.min.js"></script>
<script type="text/javascript" src="~/js/datetime-moments.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
<div class="col-md-12 align-content-center" style="padding: 30px; background: #F5F5F5">
    <h1>Survey Results for Employee @Model.Employee.EmployeeName</h1>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 middleheight">
    
    <table id="SurveyTable" class="table is-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Entry Date</td>
            <td>Employee ID</td>
            <td>Employee Name</td>
            <td>Level One Manager ID</td>
            <td>Level One Manager Name</td>
            <td>Level Two Manager ID</td>
            <td>Level Two Manager Name</td>
            <td>Survey Type</td>
            <td></td>
        </tr>
        </thead>
        <tdbody>
            @if (@Model.Results != null)
            {
                @foreach (var item in Model.Results)
                {
                    <tr>
                        <td>@Html.DisplayFor(x=>item.Id)</td>
                        <td>@Html.DisplayFor(x => item.EntryDt)</td>
                        <td>@Html.DisplayFor(x => item.EmployeeId)</td>
                        <td>@Html.DisplayFor(x => item.EmployeeName)</td>
                        <td>@Html.DisplayFor(x => item.LevelOneManagerId)</td>
                        <td>@Html.DisplayFor(x => item.LevelOneManagerName)</td>
                        <td>@Html.DisplayFor(x => item.LevelTwoManagerId)</td>
                        <td>@Html.DisplayFor(x => item.LevelTwoManagerName)</td>
                        <td>@Html.DisplayFor(x => item.SurveyType)</td>
                        <td><a href="@Url.ActionLink("GetDetail", "Survey", new {id=item.Id, type=item.SurveyType, employeeId=item.EmployeeId})">Details</a></td>
                    </tr>
                }
            }

        </tdbody>

    </table>
</div>
<div><a href="@Url.ActionLink("Index", "Home")">Back to Search</a></div>
