﻿@model EHSurveyAdmin.ViewModels.SurveyDetailsNegativeModel
<div class="col-md-12 align-content-center" style="background: #F5F5F5">
    <h3 class="text-center">Symptomatic Team Member with Negative Test Result-Return to Work Survey Results</h3>
    <h4 class="text-center">@Model.Employee.EmployeeName on @Model.NegativeSurvey.SurveyDate</h4>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 middleheight">
    <div class="col-sm-5 col-md-5 col-lg-5 float-left roundedCorner middleheight">
        <p class="h4Details">@Html.DisplayNameFor(x=>x.NegativeSurvey.OutOfWork)</p>
        @if (Model.NegativeSurvey.OutOfWork)
        {
            <p class="answer fontColorGreen">@Model.NegativeSurvey.OutOfWork</p>
        }
        else
        {
            <p class="answer fontcolorRed">@Model.NegativeSurvey.OutOfWork</p>
        }
        <br/>
        <p class="h4Details">@Html.DisplayNameFor(x=>x.NegativeSurvey.Asymptomatic)</p>
        @if (Model.NegativeSurvey.Asymptomatic)
        {
            <p class="answer fontcolorRed">@Model.NegativeSurvey.Asymptomatic</p>
        }
        else
        {
            <p class="answer fontColorGreen">@Model.NegativeSurvey.Asymptomatic</p>
        }
        <br/>
        <p class="h4Details">@Html.DisplayNameFor(x=>x.NegativeSurvey.NotTestPositiveLastTenDays)</p>
        @if (Model.NegativeSurvey.NotTestPositiveLastTenDays)
        {
            <p class="answer fontColorGreen">@Model.NegativeSurvey.NotTestPositiveLastTenDays</p>
        }
        else
        {
            <p class="answer fontcolorRed">@Model.NegativeSurvey.NotTestPositiveLastTenDays</p>
        }
        <br/>
        <p class="h4Details">@Html.DisplayNameFor(x=>x.NegativeSurvey.TwentyFourHoursSinceSymptoms)</p>
        @if (Model.NegativeSurvey.TwentyFourHoursSinceSymptoms)
        {
            <p class="answer fontColorGreen">@Model.NegativeSurvey.TwentyFourHoursSinceSymptoms</p>
        }
        else
        {
            <p class="answer fontcolorRed">@Model.NegativeSurvey.TwentyFourHoursSinceSymptoms</p>
        }
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 float-left roundedCorner middleheight">
        <p class="h4Details">@Html.DisplayNameFor(x=>x.NegativeSurvey.FromPcrTest)</p>
        @if (Model.NegativeSurvey.FromPcrTest)
        {
            <p class="answer fontColorGreen">@Model.NegativeSurvey.FromPcrTest</p>
        }
        else
        {
            <p class="answer fontcolorRed">@Model.NegativeSurvey.FromPcrTest</p>
        }
        <br/>
        <p class="h4Details">@Html.DisplayNameFor(x=>x.NegativeSurvey.NotExposedToCovid)</p>
        @if (Model.NegativeSurvey.NotExposedToCovid)
        {
            <p class="answer fontColorGreen">@Model.NegativeSurvey.NotExposedToCovid</p>
        }
        else
        {
            <p class="answer fontcolorRed">@Model.NegativeSurvey.NotExposedToCovid</p>
        }
        <br/>
        <p class="h4Details">@Html.DisplayNameFor(x=>x.NegativeSurvey.TwentyFourHoursSinceMeds)</p>
        @if (Model.NegativeSurvey.TwentyFourHoursSinceMeds)
        {
            <p class="answer fontColorGreen">@Model.NegativeSurvey.TwentyFourHoursSinceMeds</p>
        }
        else
        {
            <p class="answer fontcolorRed">@Model.NegativeSurvey.TwentyFourHoursSinceMeds</p>
        }
    </div>
</div>
<br/>
<div class="col-sm-12 col-md-12 col-lg-12 text-left"><a href="@Url.ActionLink("IndexReload", "Survey",new {id=@Model.Employee.EmployeeId})">Back to List</a></div>