﻿@model EHSurveyAdmin.ViewModels.SurveyDetailsPositiveModel

<div class="col-md-12 align-content-center" style="background: #F5F5F5">
    <h3>Positive Team Member Return to Work Survey</h3>
    <h4>@Model.Employee.EmployeeName on @Model.PositiveSurvey.SurveyDate</h4>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 middleheight">
    <div class="col-sm-5 col-md-5 col-lg-5 float-left roundedCorner middleheight">
        <p class="h4Details">@Html.DisplayNameFor(x=>x.PositiveSurvey.OutOfWork)</p>
        @if (Model.PositiveSurvey.OutOfWork)
        {
            <p class="answer fontColorGreen">@Model.PositiveSurvey.OutOfWork</p>
        }
        else
        {
            <p class="answer fontcolorRed">@Model.PositiveSurvey.OutOfWork</p>
        }
        
        <br/>
        <p class="h4Details">@Html.DisplayNameFor(x=>x.PositiveSurvey.HadSymptoms)</p>
        @if (Model.PositiveSurvey.HadSymptoms)
        {
            <p class="answer fontColorGreen">@Model.PositiveSurvey.HadSymptoms</p>
        }
        else
        {
            <p class="answer fontcolorRed">@Model.PositiveSurvey.HadSymptoms</p>
        }
        <br/>
        <p class="h4Details">@Html.DisplayNameFor(x=>x.PositiveSurvey.FiveDaysSinceSymptoms)</p>
        @if (Model.PositiveSurvey.FiveDaysSinceSymptoms)
        {
            <p class="answer fontColorGreen">@Model.PositiveSurvey.FiveDaysSinceSymptoms</p>
        }
        else
        {
            <p class="answer fontcolorRed">@Model.PositiveSurvey.FiveDaysSinceSymptoms</p>
        }
       
        <br/>
        <p class="h4Details">@Html.DisplayNameFor(x=>x.PositiveSurvey.FiveDaysSincePositiveTest)</p>
        @if (Model.PositiveSurvey.FiveDaysSincePositiveTest)
        {
            <p class="answer fontColorGreen">@Model.PositiveSurvey.FiveDaysSincePositiveTest</p>
        }
        else
        {
            <p class="answer fontcolorRed">@Model.PositiveSurvey.FiveDaysSincePositiveTest</p>
        }
        <br/>
        <p class="h4Details">@Html.DisplayNameFor(x=>x.PositiveSurvey.FullVaccinated)</p>
        @if (Model.PositiveSurvey.FullVaccinated)
        {
            <p class="answer fontColorGreen">@Model.PositiveSurvey.FullVaccinated</p>
        }
        else
        {
            <p class="answer fontcolorRed">@Model.PositiveSurvey.FullVaccinated</p>
        }
        <br/>
        <p class="h4Details">@Html.DisplayNameFor(x=>x.PositiveSurvey.TakenFeverMeds)</p>
        @if (Model.PositiveSurvey.TakenFeverMeds)
        {
            <p class="answer fontcolorRed">@Model.PositiveSurvey.TakenFeverMeds</p>
        }
        else
        {
            <p class="answer fontColorGreen">@Model.PositiveSurvey.TakenFeverMeds</p>
        }
        
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 float-left roundedCorner middleheight">
        <h1>Covid-19 Symptoms</h1>
        <div class="col-md-4 float-left">
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.Congestion)</p>
            @if (Model.PositiveSurvey.Congestion)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.Congestion</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.Congestion</p>
            }
            <br/>
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.Diarrhea)</p>
            @if (@Model.PositiveSurvey.Congestion)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.Diarrhea</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.Diarrhea</p>
            }
            <br/>
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.Chills)</p>
            @if (Model.PositiveSurvey.Chills)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.Chills</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.Chills</p>
            }
            <br/>
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.Cough)</p>
            @if (Model.PositiveSurvey.Cough)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.Cough</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.Cough</p>
            }
            <br/>
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.ShortnessOfBreath)</p>
            @if (Model.PositiveSurvey.ShortnessOfBreath)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.ShortnessOfBreath</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.ShortnessOfBreath</p>
            }
            
        </div>
        <div class="col-md-4 float-left">
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.Headache)</p>
            @if (Model.PositiveSurvey.Headache)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.Headache</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.Headache</p>
            }
            <br/>
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.SoreThroat)</p>
            @if (Model.PositiveSurvey.SoreThroat)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.SoreThroat</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.SoreThroat</p>
            }
            <br/>
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.RunnyNose)</p>
            @if (Model.PositiveSurvey.RunnyNose)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.RunnyNose</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.RunnyNose</p>
            }
            <br/>
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.Nausea)</p>
            @if (Model.PositiveSurvey.Nausea)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.Nausea</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.Nausea</p>
            }
            <br/>
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.Vomiting)</p>
            @if (Model.PositiveSurvey.Vomiting)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.Vomiting</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.Vomiting</p>
            }
        </div>
        <div class="col-md-4 float-left">
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.Fatigue)</p>
            @if (Model.PositiveSurvey.Fatigue)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.Fatigue</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.Fatigue</p>
            }
            <br/>
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.MuscleAche)</p>
            @if (Model.PositiveSurvey.MuscleAche)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.MuscleAche</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.MuscleAche</p>
            }
            <br/>
            <p class="h4Details">@Html.DisplayNameFor(x => x.PositiveSurvey.Fever)</p>
            @if (Model.PositiveSurvey.Fever)
            {
                <p class="answer fontcolorRed">@Model.PositiveSurvey.Fever</p>
            }
            else
            {
                <p class="answer fontColorGreen">@Model.PositiveSurvey.Fever</p>
            }
        </div>
    </div>
   
</div>
<div class="col-sm-12 col-md-12 col-lg-12 text-left"><a href="@Url.ActionLink("IndexReload", "Survey",new {id=@Model.Employee.EmployeeId})">Back to List</a></div>
